<header menu></header>
<main>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Alta de Usuarios <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <form>
                        <label> Nombre(s) </label>
                        <input class = "form-control" ng-model="newUser.name" type="text" /> <br>
                        <label> Apellido Paterno </label>
                        <input class = "form-control" ng-model="newUser.lastnameFather" type="text" /> <br>
                        <label> Apellido Materno </label>
                        <input class = "form-control" ng-model="newUser.lastnameMother" type="text" /> <br>
                        <label> Sexo </label>
                        <select class = "form-control" ng-model="newUser.sex">
                            <option value="0" selected>M</option>
                            <option value="1">F</option>
                        </select> <br>
                        <label> Correo </label>
                        <input class = "form-control" ng-model="newUser.email" type="text" /> <br>
                        <label> Tipo </label>
                        <select class = "form-control" ng-model="newUser.type">
                            <option value="admin" selected>Administrador</option>
                            <option value="personal">Personal Autorizado</option>
                            <option value="patient">Paciente</option>
                            <option value="doctor">Doctor</option>
                            <option value="nurse">Enfermera</option>
                        </select> <br>
                        <label> Nombre de Usuario </label> <!-- El input tiene asignado un campo de la variable newUser del scope -->
                        <input class = "form-control" ng-model="newUser.username" type="text" /> <br>
                        <label> Contraseña </label>
                        <input class = "form-control" ng-model="newUser.pass1" type="password" /> <br>
                        <label> Repita Contraseña </label>
                        <input class = "form-control" ng-model="newUser.pass2" type="password" />
                    </form><br>
                    <div>
                        <button class="btn btn-success" type="button" ng-click="createUser()"> Crear </button> <!-- Se manda llamar a la funcion -->
                        <a class="btn btn-danger" href="#{{ '/users' }}"> Cancelar </a> <!-- Se regresa al usuario a la vista para opciones de administracion de usuarios -->
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span> <!-- Se imprime el mensaje de ejecucion de cualquier funcion dentro del controlador. Se usa una variable llamada cntrlMessage -->
                    </div>
                </ui>
            </div>
        </div>
    </div>
