<header menu></header>
<main data-ng-init = "searchUser()"> <!-- Se ejecuta al cargar esta vista la funcion searchUser -->
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Baja de Usuarios <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <select class = "form-control" ng-model="delUser" ng-options="user.name for user in listUsers"> </select> <!-- Cada options se carga de un user del arreglo listUsers mostrando el campo name del user -->
                    <br>
                    <div>
                        <button class="btn btn-danger" type="button" ng-disabled="isDisabled" ng-click="deleteUser()"> Eliminar </button> <!-- El boton se mantiene dependiente a isDisable para estar habilitado el boton o desabilitado -->
                        <a class="btn btn-default" href="#{{ '/users' }}"> Cancelar </a>
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span>
                    </div>
                </ui>
            </div>
        </div>
    </div>
