<header menu></header>
<main data-ng-init = "searchUsers()">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Lista de Usuarios <h2>
                    </div>
                </div>
            </nav>
            <div>
                <table ng-table="vm.tableParams" class="table table-striped" show-filter="true">
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre de Usuario</th>
                        <th>Correo</th>
                        <th>Tipo</th>
                    </tr>
                    <tr ng-repeat="user in listUsers">
                        <td>{{user.name}} {{user.lastnameFather}} {{user.lastnameMother}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.type}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <a class="btn btn-danger" href="#{{ '/users' }}"> Cancelar </a>
            </div>
            <div>
                <span> {{cntrlMessage}} </span>
            </div>

        </div>
    </div>
