<header menu></header>
<main data-ng-init = "searchUsers()">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Cambios de Usuarios <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <select class = "form-control" ng-model="updUser" ng-options="user.username for user in listUsers"> </select>
                    <form>
                        <label> Nombre(s) </label>
                        <input class = "form-control" ng-model="newUser.name" type="text" /> <br>
                        <label> Apellido Paterno </label>
                        <input class = "form-control" ng-model="newUser.lastnameFather" type="text" /> <br>
                        <label> Apellido Materno </label>
                        <input class = "form-control" ng-model="newUser.lastnameMother" type="text" /> <br>
                        <label> Sexo </label>
                        <select class = "form-control" ng-model="newUser.sex">
                            <option value="0" selected>M</option>
                            <option value="1">F</option>
                        </select> <br>
                        <label> Correo </label>
                        <input class = "form-control" ng-model="newUser.email" type="text" /> <br>
                        <label> Tipo </label>
                        <select class = "form-control" ng-model="newUser.type">
                            <option value="admin" selected>Administrador</option>
                            <option value="personal">Personal Autorizado</option>
                            <option value="patient">Paciente</option>
                            <option value="doctor">Doctor</option>
                            <option value="nurse">Enfermera</option>
                        </select> <br>
                    </form><br>
                    <div>
                        <button class="btn btn-success" type="button" ng-disabled="isDisabled" ng-click="updateUser()"> Actualizar </button>
                        <a class="btn btn-danger" href="#{{ '/users' }}"> Cancelar </a>
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span>
                    </div>
                </ui>
            </div>
        </div>
    </div>
