<header menu></header>
<main>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Administrador de Usuarios <h2>
                    </div>
                </div>
            </nav>
            <div class="list-group">
                <ui> <!-- Enlaces a cada vista mediante rutas -->
                    <li> <a class="list-group-item" href="#{{ '/users/add' }}"> Alta de usuario </a> </li>
                    <li> <a class="list-group-item" href="#{{ '/users/delete' }}"> Baja de usuario </a> </li>
                    <li> <a class="list-group-item" href="#{{ '/users/update' }}"> Cambios de usuario </a> </li>
                    <li> <a class="list-group-item" href="#{{ '/users/search' }}"> Consulta de usuarios </a> </li>
                </ui>
            </div>
        </div>
    </div>
