html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  margin-top: 60px;
  margin-bottom: 60px;

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  height: 60px;
  background-color: rgba(0,142,173,0.68);
  font-size: 17px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
   background: rgba(0,142,173,0.5);
   height: 60px;
 }

 .navbar-inverse {
    background-color: rgb(0,142,173);
    border-color: #080808;
}

.navbar-inverse .navbar-nav>a {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ddd;
}

body{
  background-color:rgb(233, 234, 237);
  padding-top: 50px;
}

.jumbotron{
  background-color: rgb(220, 228, 230);
}

.img-banner{
  border-radius: 15px;
}

.row {
  background-color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#map-outer {
  height: 440px;
  padding: 20px;
  margin-bottom: 20px;
  background-color:#FFF
}
#map-container {
  height: 400px
}
@media all and (max-width: 991px) {
  #map-outer  {
    height: 650px
  }
}
