<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{'/'}}">Consulta Virtual</font></strong></a>
          </div>
        </div>
      </nav>
      <main>
          <div class="container">
              <div class="row">
                  <nav>
                      <div class="nav-wrapper">
                          <div class="col-lg-12">
                              <center><h2> Inicio de Sesión <h2></center>
                          </div>
                      </div>
                  </nav>
                  <div>
                      <center>
                        <div class="input-group">
                            <input class="form-control" ng-model="userdata.username" type="text" placeholder="Usuario"/><br>
                            <br><input class="form-control" ng-model="userdata.pass" type="password" placeholder="Contraseña"/><br>
                        </div>
                          <div>
                              <br><button class="btn btn-primary" type="button" ng-click="signin()"> Aceptar </button>
                              <br><br><a class="btn btn-danger" href="#{{ '/' }}"> Regresar </a>
                          </div>
                          <div>
                              <br><span> {{cntrlMessage}} </span>
                          </div>
                      </center>
                  </div>
              </div>
          </div>
