<header menu></header>
<main>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col-sm-12">
                        <center><h2> Bienvenido </h2></center>
                        <div class="row">
                          <!-- Carousel
                          ================================================== -->
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                <img class="first-slide" src="img/profile/banner.jpg" alt="First slide">
                                <div class="container">
                                </div>
                              </div>
                              <div class="item">
                                <img class="second-slide" src="img/profile/banner_2.jpg" alt="Second slide">
                                <div class="container">
                                </div>
                              </div>
                              <div class="item">
                                <img class="third-slide" src="img/profile/banner_3.jpg" alt="Third slide">
                                <div class="container">
                                </div>
                              </div>
                            </div>
                            <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div><!-- /.carousel -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
