<div class="container">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#{{ '/home' }}">Consulta Virtual</font></strong></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" ng-repeat="section in sections">
          <li class="bold" ng-class="{ active : section.active }"><a href="#{{ section.route }}">{{ section.title}}</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
