<header menu></header>
<main data-ng-init = "checkAssigned()"> <!-- Se ejecuta al cargar esta vista la funcion searchUser -->
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Videoconferencia <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <div ng-if="!isAssigned" class="animate-if">
                        <p style="font-size:20px;"> <span style="font-size:20px;" ng-style="estilo" class="glyphicon glyphicon-exclamation-sign"></span> No tiene asignado un doctor. Contacte a su enfermera. </p>
                    </div><br>
                    <div ng-if="isAssigned" class="animate-if">
                      <div ng-if="!isOnline" class="animate-if">
                        <p style="font-size:20px;"> <span style="font-size:20px;" ng-style="estilo" class="glyphicon glyphicon-ban-circle"></span> Desconectado </p>
                      </div>
                      <div ng-if="isOnline" class="animate-if">
                        <div ng-if="isBusy" class="animate-if">
                          <p style="font-size:20px;"> <span style="font-size:20px;" ng-style="estilo" class="glyphicon glyphicon-minus-sign"></span> Ocupado </p>
                        </div>
                        <div ng-if="!isBusy" class="animate-if">
                          <p style="font-size:20px; padding-bottom:10px;"> <span style="font-size:20px;" ng-style="estilo" class="glyphicon glyphicon-ok-circle"></span> En linea </p>
                          <p><a class="btn btn-primary btn-lg" role="button" ng-click="makeCall()">Iniciar Videollamada </a></p>
                        </div>
                      </div>
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span>
                    </div>
                </ui>
            </div>

            <div class="row">
              <center>
                <div id="vid-box"></div>
              </center>
            </div>
        </div>
    </div>
