<header menu></header>
<main data-ng-init="fecha()">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col-sm-12">
                        <h2> Registro de Expediente Clínico <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <form>
                      <div class="form-group">
                        <label for="patient"> Nombre de usuario (Paciente) </label>
                        <input id="patient" class="form-control" ng-model="newPat.name" type="text" disabled/>
                      </div>
                      <div class="form-group">
                        <label for="date"> Fecha </label>
                        <input id="date" class="form-control" ng-model="newPat.date" type="text" disabled/>
                      </div>
                      <div class="form-group">
                        <label for="weight"> Peso</label>
                        <input id="weight" class="form-control" ng-model="newPat.weight" type="number" />
                      </div>
                      <div class="form-group">
                        <label for="height"> Altura </label>
                        <input id="height" class="form-control" ng-model="newPat.height" type="number" />
                      </div>
                      <div class="form-group">
                        <label for="age"> Edad </label>
                        <input id="age" class="form-control" ng-model="newPat.age" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="temperature"> Temperatura </label> <!-- El input tiene asignado un campo de la variable newUser del scope -->
                        <input id="temperature" class="form-control" ng-model="newPat.temperature" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="presion"> Presión (##/###)</label>
                        <input id="presion" class="form-control" ng-model="newPat.presion" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="pulse"> Pulso </label>
                        <input id="pulse" class="form-control" ng-model="newPat.pulse" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="malaise"> Malestares </label>
                        <textarea id="malaise" class="form-control" ng-model="newPat.malaise" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="bloodType"> Tipo de Sangre (ej. A-Rh pos.) </label>
                        <input id="bloodType" class="form-control" ng-model="newPat.bloodType" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="sex"> Sexo </label>
                        <select id="sex" class="select" ng-model="newPat.sex">
                            <option value="0" selected>M</option>
                            <option value="1">F</option>
                        </select> <br>
                      </div>
                    </form>
                    <div>
                        <button type="button" class="btn btn-success" ng-click="addExpedient()"> Crear Expediente</button> <!-- Se manda llamar a la funcion -->
                    </div>
                    <div>
                      <div class="form-group has-error">
                        <br><span class="help-block"> {{cntrlMessage}} </span> <!-- Se imprime el mensaje de ejecucion de cualquier funcion dentro del controlador. Se usa una variable llamada cntrlMessage -->
                      </div>
                    </div>
                </ui>
            </div>
        </div>
    </div>
