<header menu></header>
<main data-ng-init = "getPatients()"> <!-- Se ejecuta al cargar esta vista la funcion searchUser -->
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Historial de Consulta <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <select class="form-control" ng-model="searchPat" ng-options="user.name for user in listUsers"> </select> <!-- Cada options se carga de un user del arreglo listUsers mostrando el campo name del user --><br><br>
                    <div>
                        <button class="btn btn-success" type="button" ng-disabled="isDisabled" ng-click="getConsultHistory()"> Buscar </button> <!-- El boton se mantiene dependiente a isDisable para estar habilitado el boton o desabilitado -->
                        &nbsp;&nbsp;&nbsp;<a class = "btn btn-danger" href="#{{ '/home' }}"> Cancelar </a>
                    </div><br>
                    <div ng-if="havePatiens" class="animate-if">
                        <table ng-table="vm.tableParams" class="table" show-filter="true">
                            <tr>
                                <th>Fecha Entrada</th>
                                <th>Fecha Salida</th>
                                <th>Diagnostico</th>
                                <th>Receta</th>
                                <th>Dactor(a)</th>
                            </tr>
                            <tr ng-repeat="info in listInfoConsult">
                                <td title="'Date1'" filter="{ date1: 'text'}" sortable="'date1'">
                                    {{info.fecha1}}</td>
                                <td title="'Date2'" filter="{ date2: 'text'}" sortable="'date2'">
                                    {{info.fecha2}}</td>
                                <td title="'diagnostic'" filter="{ diagnostic: 'number'}" sortable="'diagnostic'">
                                    {{info.diagnostic}}</td>
                                <td title="'reseta'" filter="{ reseta: 'number'}" sortable="'reseta'">
                                    {{info.reseta}}</td>
                                <td title="'doct'" filter="{ doct: 'text'}" sortable="'doct'">
                                    {{info.name}} {{info.lastNameFather}} {{info.lastNameMother}}</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span>
                    </div>
                </ui>
            </div>
        </div>
    </div>
