<header menu></header>
<main data-ng-init = "getPatients()"> <!-- Se ejecuta al cargar esta vista la funcion searchUser -->
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Expediente Clínico <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <select class="form-control" ng-model="searchPat" ng-options="user.name for user in listUsers"> </select> <!-- Cada options se carga de un user del arreglo listUsers mostrando el campo name del user --><br><br>
                    <div>
                        <button class="btn btn-success" type="button" ng-disabled="isDisabled" ng-click="getPatient();getMedicalHistory();"> Buscar </button> <!-- El boton se mantiene dependiente a isDisable para estar habilitado el boton o desabilitado -->
                        &nbsp;&nbsp;&nbsp;<a class = "btn btn-danger" href="#{{ '/home' }}"> Cancelar </a>
                    </div><br>
                    <p ng-repeat="patient in listUser">
                            <b>Nombre:</b> {{patient.name}} {{patient.lastnameFather}} {{patient.lastnameMother}}<br>
                            <b>Nombre De Usuario:</b> {{patient.username}}<br>
                            <b>Correo:</b> {{patient.email}}<br>
                            <b>Sexo:</b> {{patient.sex2}}<br>
                        </p>
                    <div ng-if="havePatiens" class="animate-if">
                        <table ng-table="vm.tableParams" class="table" show-filter="true">
                            <tr>
                                <th>Fecha</th>
                                <th>Talla</th>
                                <th>Alto</th>
                                <th>Edad</th>
                                <th>Temperatura</th>
                                <th>Presi&oacute;n</th>
                                <th>Malestares</th>
                                <th>Sexo</th>
                                <th>Tipo De Sangre</th>
                                <th>Doctor(a)/Enfermer@</th>
                            </tr>
                            <tr ng-repeat="info in listInfo">
                                <td title="'Date'" filter="{ date: 'text'}" sortable="'date'">
                                    {{info.fecha}}</td>
                                <td title="'Weight'" filter="{ weight: 'number'}" sortable="'weight'">
                                    {{info.weight}}</td>
                                <td title="'Height'" filter="{ height: 'number'}" sortable="'height'">
                                    {{info.height}}</td>
                                <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                                    {{info.pacientAge}}</td>
                                <td title="'Temperature'" filter="{ temperature: 'number'}" sortable="'temperature'">
                                    {{info.temperature}}</td>
                                <td title="'Presion'" filter="{ presion: 'text'}" sortable="'presion'">
                                    {{info.presion}}</td>
                                <td title="'Malaise'" filter="{ malaise: 'text'}" sortable="'malaise'">
                                    {{info.malaise}}</td>
                                <td title="'Sex'" filter="{ sex: 'text'}" sortable="'sex'">
                                    {{info.sex2}}</td>
                                <td title="'blood'" filter="{ blood: 'text'}" sortable="'blood'">
                                    {{info.bloodType}}</td>
                                <td title="'enfermera'" filter="{ enfermera: 'text'}" sortable="'enfermera'">
                                    {{info.name}} {{info.lastNameFather}} {{info.lastNameMother}}</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span>
                    </div>
                </ui>
            </div>
        </div>
    </div>
