<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{'/'}}">Consulta Virtual</font></strong></a>
          </div>
        </div>
      </nav>
<main>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <h2> Registro <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <form>
                      <div class="form-group">
                        <label for="name"> Nombre(s) </label>
                        <input id="name" class="form-control" ng-model="newDoc.name" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="lname"> Apellido Paterno </label>
                        <input id="lname" class="form-control" ng-model="newDoc.lastnameFather" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="lname2"> Apellido Materno </label>
                        <input id="lname2" class="form-control" ng-model="newDoc.lastnameMother" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="sex"> Sexo </label>
                        <select id="sex" class="form-control" ng-model="newDoc.sex">
                            <option value="0" selected>M</option>
                            <option value="1">F</option>
                        </select> <br>
                      </div>
                      <div class="form-group">
                        <label for="email"> Correo </label>
                        <input id="email" class="form-control" ng-model="newDoc.email" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="username"> Nombre de Usuario: </label> <!-- El input tiene asignado un campo de la variable newUser del scope -->
                        <input id="username" class="form-control" ng-model="newDoc.username" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="pass"> Contraseña: </label>
                        <input id="pass" class="form-control" ng-model="newDoc.pass1" type="password" />
                      </div>
                      <div class="form-group">
                        <label for="pass2"> Repita Contraseña: </label>
                        <input id="pass2" class="form-control" ng-model="newDoc.pass2" type="password" />
                      </div>
                    </form>
                    <div>
                        <button type="button" class="btn btn-success" ng-click="signup()"> Crear </button> <!-- Se manda llamar a la funcion -->
                        <br><br><a class="btn btn-danger" href="#{{ '/home' }}"> Cancelar </a> <!-- Se regresa al usuario a la vista para opciones de administracion de usuarios -->
                    </div>
                    <div>
                      <div class="form-group has-error">
                        <br><span class="help-block"> {{cntrlMessage}} </span> <!-- Se imprime el mensaje de ejecucion de cualquier funcion dentro del controlador. Se usa una variable llamada cntrlMessage -->
                      </div>
                    </div>
                </ui>
            </div>
        </div>
    </div>
