<header menu></header>
<main ng-init="initVid();getSigns()">
    <div class="container">
        <div class="row">
          <nav>
              <div class="nav-wrapper">
                  <div class="col s12">
                      <h2> Videollamada <h2>
                  </div>
              </div>
          </nav>
          <div class="col-md-6 col-lg-6">

            <div class="row">
              <center>
                <div id="vid-box"></div>
              </center>
            </div>

            <div class="row">
              <span>{{message}}</span>
              <button class="btn btn-warning" ng-click="endCall()">Terminar llamada</button>
            </div>

          </div>
          <div class="col-md-6 col-lg-6">
            <div>
                <ui>
                    <form>
                        <label> Nombres </label>
                        <input class = "form-control" ng-model="patientInfo.name" type="text" disabled/> <br>
                        <label> Peso </label>
                        <input class = "form-control" ng-model="patientInfo.weight" type="text" disabled/> <br>
                        <label> Talla </label>
                        <input class = "form-control" ng-model="patientInfo.size" type="text" disabled/> <br>
                        <label> Presion </label>
                        <input class = "form-control" ng-model="patientInfo.presion" type="text" disabled/> <br>
                        <label> Pulso </label>
                        <input class = "form-control" ng-model="patientInfo.pulse" type="text" disabled/> <br>
                        <label> Diagnostico </label>
                        <textarea class = "form-control" ng-model="newConsult.diagnostic" type="text" /> <br>
                        <label> Reseta </label>
                        <textarea class = "form-control" ng-model="newConsult.reseta" type="text" /> <br>
                    </form><br>
                    <div>
                        <button class="btn btn-success" type="button" ng-click="saveConsult()"> Guardar </button> <!-- Se manda llamar a la funcion -->
                    </div>
                    <div>
                        <span> {{cntrlMessage}} </span> <!-- Se imprime el mensaje de ejecucion de cualquier funcion dentro del controlador. Se usa una variable llamada cntrlMessage -->
                    </div>
                </ui>
            </div>
          </div>
        </div>
    </div>
