<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{'/'}}">Consulta Virtual</font></strong></a>
          </div>
        </div>
      </nav>
<main>
    <div class="container">
      <div class="jumbotron">
        <h1>Felicidades!</h1>
        <p>Ahora tu cuenta esta activada, Ya puedes iniciar sesión</p>
        <p><a class="btn btn-primary btn-lg" href="#{{ '/signin' }}" role="button">Ir a Iniciar Sesión </a></p>
      </div>
    </div>
