<header menu></header>
<main data-ng-init="getPatients()">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col-sm-12">
                        <h2> Agregar Consulta <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <form>
                      <div class="form-group">
                        <label for="patient">Nombre de usuario (Paciente)</label>
                        <select id="patient" class="form-control" ng-model="newPat.searchPat" ng-options="user.username for user in newPat.listUsers"> </select>
                      </div>
                      <br><a class="btn btn-info" ng-click="getPatientHistory()">Ver expediente clínico de {{newPat.searchPat.username}}</a>
                      &nbsp;&nbsp;&nbsp;<a class = "btn btn-danger" href="#{{ '/home' }}"> Cancelar </a><br>

                      <div ng-if="havePatiens" class="animate-if">
                          <table ng-table="newPat.tableParams" class="table" show-filter="true">
                              <tr>
                                  <th>Fecha</th>
                                  <th>Talla</th>
                                  <th>Alto</th>
                                  <th>Edad</th>
                                  <th>Temperatura</th>
                                  <th>Presi&oacute;n</th>
                                  <th>Malestares</th>
                                  <th>Sexo</th>
                                  <th>Tipo De Sangre</th>
                                  <th>Enfermer@</th>
                              </tr>
                              <tr ng-repeat="info in newPat.listInfo">
                                  <td title="'Date'" filter="{ date: 'text'}" sortable="'date'">
                                      {{info.fecha}}</td>
                                  <td title="'Weight'" filter="{ weight: 'number'}" sortable="'weight'">
                                      {{info.weight}}</td>
                                  <td title="'Height'" filter="{ height: 'number'}" sortable="'height'">
                                      {{info.height}}</td>
                                  <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                                      {{info.pacientAge}}</td>
                                  <td title="'Temperature'" filter="{ temperature: 'number'}" sortable="'temperature'">
                                      {{info.temperature}}</td>
                                  <td title="'Presion'" filter="{ presion: 'text'}" sortable="'presion'">
                                      {{info.presion}}</td>
                                  <td title="'Malaise'" filter="{ malaise: 'text'}" sortable="'malaise'">
                                      {{info.malaise}}</td>
                                  <td title="'Sex'" filter="{ sex: 'text'}" sortable="'sex'">
                                      {{info.sex2}}</td>
                                  <td title="'blood'" filter="{ blood: 'text'}" sortable="'blood'">
                                      {{info.bloodType}}</td>
                                  <td title="'enfermera'" filter="{ enfermera: 'text'}" sortable="'enfermera'">
                                      {{info.name}} {{info.lastNameFather}} {{info.lastNameMother}}</td>
                              </tr>
                          </table>
                      </div>

                      <br>
                      <div class="form-group">
                        <label for="date"> Fecha </label>
                        <input id="date" class="form-control" ng-model="newPat.date" type="text" disabled/>
                      </div>
                      <div class="form-group">
                        <label for="weight"> Peso</label>
                        <input id="weight" class="form-control" ng-model="newPat.weight" type="number" />
                      </div>
                      <div class="form-group">
                        <label for="size"> Talla </label>
                        <input id="size" class="form-control" ng-model="newPat.size" type="number" />
                      </div>
                      <div class="form-group">
                        <label for="presion"> Presión (##/###)</label>
                        <input id="presion" class="form-control" ng-model="newPat.presion" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="pulse"> Pulso </label>
                        <input id="pulse" class="form-control" ng-model="newPat.pulse" type="text" />
                      </div>
                    </form>
                    <div>
                        <button type="button" class="btn btn-success" ng-click="addConsult()"> Crear Consulta</button> <!-- Se manda llamar a la funcion -->
                        <br><br><a href="#{{ '/home'}}" class="btn btn-danger">Cancelar</a>
                    </div>
                    <div>
                      <div class="form-group has-error">
                        <br><span class="help-block"> {{cntrlMessage}} </span> <!-- Se imprime el mensaje de ejecucion de cualquier funcion dentro del controlador. Se usa una variable llamada cntrlMessage -->
                      </div>
                    </div>
                </ui>
            </div>
        </div>
    </div>
