<header menu></header>
<main data-ng-init="getPatients()">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col-sm-12">
                        <h2> Generar Recetas <h2>
                    </div>
                </div>
            </nav>
            <div>
                <ui>
                    <form>
                      <div class="form-group">
                        <label for="patient">Nombre de usuario (Paciente)</label>
                        <select id="patient" class="form-control" ng-model="newPat.searchPat" ng-options="user.username for user in newPat.listUsers"> </select>
                      </div>
                      <br><a class="btn btn-info" ng-click="getConsultHistory()">Ver consultas de {{newPat.searchPat.username}}</a>
                      &nbsp;&nbsp;&nbsp;<a class = "btn btn-danger" href="#{{ '/home' }}"> Cancelar </a><br>

                      <div ng-if="havePatiens" class="animate-if">
                          <table ng-table="vm.tableParams" class="table" show-filter="true">
                              <tr>
                                  <th>Fecha Entrada</th>
                                  <th>Fecha Salida</th>
                                  <th>Diagnostico</th>
                                  <th>Receta</th>
                                  <th>Dactor(a)</th>
                                  <th>Receta</th>
                              </tr>
                              <tr ng-repeat="info in listInfoConsult">
                                  <td title="'Date1'" filter="{ date1: 'text'}" sortable="'date1'">
                                      {{info.fecha1}}</td>
                                  <td title="'Date2'" filter="{ date2: 'text'}" sortable="'date2'">
                                      {{info.fecha2}}</td>
                                  <td title="'diagnostic'" filter="{ diagnostic: 'number'}" sortable="'diagnostic'">
                                      {{info.diagnostic}}</td>
                                  <td title="'reseta'" filter="{ reseta: 'number'}" sortable="'reseta'">
                                      {{info.reseta}}</td>
                                  <td title="'doct'" filter="{ doct: 'text'}" sortable="'doct'">
                                      {{info.name}} {{info.lastNameFather}} {{info.lastNameMother}}</td>
                                  <td title="'id'" filter="{ id: 'text'}" sortable="'id'">
                                      <a class="btn btn-success" href="http://172.31.26.40/receta/receta.php?id={{info.id}}" target="_blank">Imprimir<a></td>
                              </tr>
                          </table>
                      </div>
                    </form>
                </ui>
            </div>
        </div>
    </div>
